
article{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.neon {
    color: #fff;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #0ff,
        0 0 80px #0ff,
        0 0 90px #0ff,
        0 0 100px #0ff,
        0 0 150px #0ff;
}
.neon-earth {
    color: #fff;
    text-shadow:
        0 0 5px #f75757,
        0 0 10px #efcece,
        0 0 20px #eb5757,
        0 0 40px rgb(255, 196, 0),
        0 0 80px rgb(255, 255, 0),
        0 0 90px rgb(3, 57, 57),
        0 0 100px rgb(251, 255, 0),
        0 0 150px rgb(5, 74, 74);
}
