<app-animated-title></app-animated-title>
<article>
  <section>
    <h3>Всі тварини</h3>
    <ul>
      <!-- <li *ngFor="let item of animals; let i = index">
    <p [ngClass]="item.canFly ? 'neon ' : 'neon-earth'">
      {{ item.name }}
    </p>
  </li> -->
      @for (item of animals; track $index) {
      <li>
        <p [ngClass]="item.canFly ? 'neon ' : 'neon-earth'">
          {{ item.name }}
        </p>
      </li>
      }
    </ul>
  </section>
  <section>
    <h3>🪶 Літаючі тварини</h3>
    <ul>
      @for (item of animals; track item.name) { @if (item.canFly) {
      <li>
        <p class="neon">
          {{ item.name }}
        </p>
      </li>
      } }
    </ul>
  </section>
  <section>
    <h3 class="neon-earth">Тварини, що не літають</h3>
    <ul>
      @for (item of animals; track item.name) { @if (!item.canFly) {
      <li>
        <p class="neon-earth">
          {{ item.name }}
        </p>
      </li>
      } }
    </ul>
  </section>
</article>
<router-outlet />
