body {
    min-height: 100vh;
    background: #212534;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    font-size: 2vw;
    font-family: cursive;
    color: rgb(207, 236, 250);
}
